# Ignore node_modules to prevent bloating the image
node_modules

# Ignore the dist folder (it will be built inside the container)
dist

# Ignore environment files (they should be provided via Docker secrets or env_file)
.env
.env.local
.env.development
.env.production

# Ignore local dependencies and cache files
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Ignore logs
logs
*.log
log/

# Ignore database files (if any local DB is used for development)
*.sqlite
*.sqlite-journal
db.sqlite

# Ignore Docker build-related files
Dockerfile*
docker-compose*
.dockerignore

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Ignore MacOS system files
.DS_Store
._*
